<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundingxi.tell.mapper.AchieveMapper">

<resultMap id="AchieveVoMap" type="com.yundingxi.tell.bean.vo.AchieveVo">
    <result column="achieve_url"   property="achieveUrl"/>
    <result column="achieve_desc"   property="achieveDesc"/>
    <result column="achieve_edition"   property="achieveEdition"/>
    <result column="obtain_time"   property="obtainTime"/>
    <result column="achieve_name"   property="achieveName"/>

</resultMap>
    <select id="haveListMeAll" resultMap="AchieveVoMap">
        select * from user_achieve ua,achieve a where ua.achieve_id=a.id and ua.open_id=#{openId}
    </select>
    <select id="notHaveListMeAll" resultMap="AchieveVoMap">
        select *  from achieve aa where aa.id not in  (select a.id from user_achieve ua

				INNER JOIN achieve a

				on ua.achieve_id=a.id

				where   ua.open_id=#{openId})
    </select>
</mapper>
