<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundingxi.tell.mapper.DiaryMapper">


    <insert id="insertSingleDiary">
        insert into diarys
        value (#{diarys.id},#{diarys.content},#{diarys.date},#{diarys.number},#{diarys.penName},
            #{diarys.weather},#{diarys.state},#{diarys.openId})
    </insert>
    <delete id="deleteSingleDiaryById">
        delete from diarys where id = #{id}
    </delete>
    <select id="selectAllDiaryByOpenId" resultType="com.yundingxi.tell.bean.entity.Diarys">
        select id,date,number,pen_name,weather,state
        from diarys
        where open_id = #{openId}
    </select>
    <select id="selectSingleDiary" resultType="com.yundingxi.tell.bean.entity.Diarys">
        select *
        from diarys;
        where id = #{id}
    </select>
</mapper>