<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundingxi.tell.mapper.StampMapper">
    <resultMap id="StampVoMap" type="com.yundingxi.tell.bean.vo.StampVo">
        <result column="stamp_url"   property="stampUrl"/>
        <result column="stamp_name"   property="stampName"/>
        <result column="stamp_number"   property="stampNumber"/>
        <result column="stamp_desc"   property="stampDesc"/>
        <result column="stamp_edition"   property="stampEdition"/>
        <result column="stamp_series"   property="stampSeries"/>
        <result column="obtain_time" property="obtainTime"/>
    </resultMap>
    <select id="haveListMeAll" resultMap="StampVoMap">
        select * from user_stamp us,stamp s where us.stamp_id=s.id and us.open_id=#{openId} order by us.obtain_time desc
    </select>
    <select id="notHaveListMeAll" resultMap="StampVoMap">
        select *  from stamp ss where ss.id not in  (select s.id from user_stamp us

				INNER JOIN stamp s

				on us.stamp_id=s.id

				where   us.open_id=#{openId})
    </select>
    <select id="selectAllStamp" resultType="com.yundingxi.tell.bean.entity.Stamp">
        select * from stamp
    </select>
    <select id="selectBaseStamp" resultType="com.yundingxi.tell.bean.entity.UserStamp">
        select * from stamp where stamp_edition='Edition 1.0'
    </select>
    <insert id="insertSingleNewUserStamp">
        insert into user_stamp value(#{userStamp.id},#{userStamp.stampId},#{userStamp.openId},#{userStamp.state},#{userStamp.obtainTime},#{userStamp.number})
    </insert>
</mapper>
