<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundingxi.tell.mapper.UserMapper">

    <insert id="insertUser">
        insert into `user`
            value(#{user.openId},#{user.dateBirth},#{reply.gender},#{reply.registrationTime},#{reply.lastLoginTime},#{reply.state},#{replypenName},#{reply.avatarUrl})
    </insert>
</mapper>