<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundingxi.tell.mapper.UserMapper">

    <insert id="insertUser">
        insert into `user`
            value(#{user.openId},#{user.dateBirth},#{user.gender},#{user.registrationTime},#{user.lastLoginTime},#{user.state},#{user.penName},#{user.avatarUrl})
    </insert>
    <select id="selectAllOpenId" resultType="java.lang.String">
        select open_id
        from `user`
    </select>
    <resultMap id="CommentsVoMap" type="com.yundingxi.tell.bean.vo.UserCommentVo">
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="date" jdbcType="TIMESTAMP" property="date"/>
        <result column="sg_id" jdbcType="TIMESTAMP" property="sgId"/>
        <result column="title" jdbcType="TIMESTAMP" property="title"/>
        <association property="userVo" javaType="com.yundingxi.tell.bean.vo.UserVo">
            <result column="pen_name" property="penName"/>
            <result column="avatar_url" property="avatarUrl"/>
        </association>
    </resultMap>
    <select id="getUserCommentVos" resultMap="CommentsVoMap">

        select  c.`content`, c.`date`,u.pen_name,u.avatar_url,c.sg_id,sg.title
        from comments  c, `user`  u ,spitting_grooves sg where  c.open_id=u.open_id  and sg.id=c.sg_id and

                c.sg_id in (select id from spitting_grooves where open_id=#{openId})

        ORdER by c.date asc
    </select>
    <select id="getUserVoById" resultType="com.yundingxi.tell.bean.vo.UserVo">
        select pen_name ,avatar_url from `user` where  open_id=#{openId}
    </select>
    <select id="selectPenNameByOpenId" resultType="java.lang.String">
        select pen_name
        from user
        where open_id=#{openId}
    </select>
</mapper>

