<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundingxi.tell.mapper.UserMapper">

    <insert id="insertUser">
        insert into `user`
            value(#{user.openId},#{user.dateBirth},#{user.gender},#{user.registrationTime},#{user.lastLoginTime},#{user.state},#{user.penName},#{user.avatarUrl})
    </insert>
    <select id="selectAllOpenId" resultType="java.lang.String">
        select open_id
        from `user`
    </select>
</mapper>

